.About {
  background-color: #e9ecef;
}

.AboutContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: top;
  padding: 2rem 2rem;
  @media (min-width: 992px) {
    flex-direction: row;
  }
  @media (min-width: 2000px) {
    flex-direction: column;
    align-items: center;
  }
}

.AboutText {
  flex: 1;
  text-align: justify;
  font-size: large;
  max-width: 1000px;
  margin-bottom: 3rem;
  @media (min-width: 992px) {
    margin: 0 1rem 0 0;
  }
}

.AboutVideo {
  flex: 1;
  cursor: pointer;
  @media (min-width: 992px) {
    max-width: 50%;
    margin: 0 0 0 1rem;
  }
  @media (min-width: 2000px) {
    width: 1000px;
    margin: 2rem 0 0 0;
  }
}

.lead {
  line-height: 1.5;
  font-size: 1.25rem;
  color: rgba(0, 0, 0, 0.6);
  margin: 0;
}
