@use "../../styles/variables";

.container {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  @media (min-width: 1000px) {
    align-items: flex-start;
  }
  h1 {
    font-size: 1.2rem;
    font-style: italic;
    margin: 0 0 0.5rem 0;
    color: variables.$color-sinfronteras;
  }
  .email {
    font-size: 1rem;
    margin: 0 0 0.5rem 0;
  }
  p {
    color: #c0c8c9;
    font-size: 0.8rem;
    margin: 0;
  }
}

.image {
  margin-left: -1rem;
  margin-top: -0.3rem;
}
