@use '../../styles/variables';

.container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  @media (min-width: 1000px) {
    align-items: flex-start;
  }
  a {
    margin: 0.5rem;
    text-decoration: underline solid transparent;
    transition: text-decoration 0.3s ease-out;
    &:hover {
      text-decoration: underline solid variables.$color-sinfronteras;
    }
  }
}