.container {
  display: flex;
  color: white;
  margin-top: 1rem;
  @media (min-width: 1000px) {
    flex-direction: column;
  }
}

.item {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  p {
    margin: 0 1rem;
    text-decoration: underline solid transparent;
    transition: text-decoration 0.3s ease-out;
    &:hover {
      text-decoration: underline solid white;
    }
  }
}

.social_text {
  display: none;
  @media (min-width: 1000px) {
    display: block;
  }
}

.container svg {
  margin: 0 1rem;
  @media (min-width: 1000px) {
    margin: 0;
  }
}
