.text {
  flex: 1;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: white;
  margin-bottom: 1rem;
  @media (min-width: 600px) {
    margin-right: 1rem;
    margin-bottom: 0;
  }
}

.text p {
  line-height: 1.5;
  font-size: 1.25rem;
  color: rgba(0, 0, 0, 0.6);
}
