.container {
  background-color: #F9F9F9;
}

.video {
  width: 90vw;
  max-width: 60rem;
  margin: auto;
}

.youtube {
  width: 100%;
  height: calc(60rem * 9/16);
  @media (max-width: 728px) {
    height: calc(90vw * 9/16);
  }
}

.title {
  text-align: center;
  margin: 0;
  padding: 1rem;
}