@use '../../styles/variables';

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 5rem;
  background-color: variables.$color-sinfronteras1;
  @media (min-width: 600px) {
    flex-direction: row;
  }
}